.title {
    text-align: center;
}


.spinner {
    text-align: center;
    margin: 2rem auto;
    // position: absolute;
}

mat-progess-spinner {
    text-align: center;
    margin: 0 auto;
}

.mat-spinner {
    text-align: center;
    margin: 0 auto;
}